.BlogPostsWrapper {
    overflow: auto;
}

.BlogPost__Content {
    width: 100%;
    max-width: 800px;
    padding: $sp--md;
    margin: $sp--md auto;

    p {
        line-height: 2rem;
    }
}

.BlogHeader__Back {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 25px;
    right: 25px;
    border-radius: 50%;
    background-color: $primary-color--default;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        transform: rotateZ(90deg);

        path {
            fill: $light-color;
        }
    }
}
