.HomePageJumbotron {
    background-color: $light-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: $sp--md;
    height: 100%;
    width: 100%;
    max-width: 850px;
}
