.SpacerBase {
    border: none;
    height: $border-width--default;
    background-color: $primary-color--default;
    margin-top: $sp--md;
    margin-bottom: $sp--md;
}

.SimpleSpacer--short {
    width: 50%;
    max-width: 100px;
}

.SimpleSpacer--medium {
    width: 75%;
    max-width: 175px;
}

.SimpleSpacer--long {
    width: 100%;
    max-width: 250px;
}

.SimpleSpacer--center {
    width: 100%;
    max-width: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
