// general resets
* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

// text element rests
h1 {
    @include header-font($header-font-size--jumbo);
}

h2 {
    @include header-font;
}

h3 {
    @include sub-header-font($sub-header-font-size--jumbo);
}

h4 {
    @include sub-header-font;
}

p {
    @include regular-font;
}

input,
textarea {
    @include regular-font;
}

::selection {
    color: $light-color;
    background-color: $primary-color--transluscent;
}

// code formatting (syntax highlighting handled by highlight.js)
pre {
    padding: $code-padding;
    line-height: $code-line-height;
    border-left: $border-width--thick solid $code-border-color;

    code {
        @include code-font;
    }
}
