// inline code styling
.code {
   background-color: $code-background-color;
   padding: 5px;

   @include code-font;
}

// color utils
.background-color--primary-color--fade {
   background-color: $primary-color--fade !important;
}

// font utils
.text-center {
   text-align: center;
}

// screen size utils
.hide--sm {
   @include media-query--sm {
      display: none;
   }
}

.hide--md {
   @include media-query--md {
      display: none;
   }
}

.hide--lg {
   @include media-query--lg {
      display: none;
   }
}

.hide--lg {
   @include media-query--lg {
      display: none;
   }
}

.fill--primary {
   background-color: $primary-color--default;
}

.fill--light {
   background-color: $light-color;
}

.display--block {
   display: block;
}

.display--inline-block {
   display: inline-block;
}

.display--flex {
   display: flex;
}

// content alignment
[class*="align-content"] {
   display: flex;

   &[class*="--left"] {
      align-items: left;
      justify-content: center;
   }

   &[class*="--center"] {
      align-items: center;
      justify-content: center;
   }

   &[class*="--col"] {
      flex-direction: column;
   }
}

// miscellaneous
.ellipsis-overflow {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.no-underline {
   text-decoration: none !important;
}

.handle-float {
   overflow: auto;
}

.hover--basic {
   cursor: pointer;
}

.font-color--fade {
   color: $font-color--light;
}

.font-color--light {
   color: $light-color;
}

.font-color--error {
   color: $error-color--default;
}

.font-color--success {
   color: $success-color--default;
}
