// font families
$header-font-family: 'Lora', serif;
$sub-header-font-family: 'Playfair Display', cursive;
$regular-font-family: 'ABeeZee', sans-serif;
$code-font-family: 'FiraCode-Regular', monospace;

// font sizes
$header-font-size--default: 42px;
$header-font-size--jumbo: 50px;

$sub-header-font-size--default: 24px;
$sub-header-font-size--jumbo: 32px;

$regular-font-size--mini: 14px;
$regular-font-size--default: 17px;
$regular-font-size--jumbo: 20px;

$code-font-size--default: 17px;

$button-font-size--default: 20px;
$button-font-size--active: 21px;

// font weights
$header-font-weight: 700;
$sub-header-font-weight: 400;
$regular-font-weight: normal;
$code-font-weight: normal;

// font styles
$header-font-style: normal;
$sub-header-font-style: italic;
$regular-font-style: normal;
$code-font-style: normal;

// font colors and miscallaneous
$font-color--base: #232323;
$font-color--default: rgba($font-color--base, 0.88);
$font-color--light: rgba($font-color--base, 0.65);

$code-padding: 20px !important; // !important to override padding from highlight.js
$code-line-height: 25px;

// application colors
$code-border-color: #5e6687;
$code-background-color: #f5f7ff;
$primary-color--default: #3E3E3E;
$primary-color--fade: #e9e9e9;

$error-color--default: #b92930;
$error-color--fade: #b55c60;
$light-color: #fff;

// spacing
$padding--xs: 5px;
$padding--sm: 25px;
$padding--md: 40px;
$padding--lg: 60px;
$padding--xl: 100px;

$top-margin--xs: 5px;
$top-margin--sm: 25px;
$top-margin--md: 40px;
$top-margin--lg: 60px;
$top-margin--xl: 100px;

$bottom-margin--xs: 5px;
$bottom-margin--sm: 25px;
$bottom-margin--md: 40px;
$bottom-margin--lg: 60px;
$bottom-margin--xl: 100px;

$horiz-spacing--xs: 5px;
$horiz-spacing--sm: 25px;
$horiz-spacing--md: 40px;
$horiz-spacing--lg: 60px;
$horiz-spacing--xl: 100px;

// transitions
$transition-speed--active: 200ms;
$transition-speed--inactive: 150ms;

// borders
$border-width--thin: 1px;
$border-width--default: 2px;
$border-width--thick: 5px;

$border-radius--default: 3px;

// buttons
$modern-button-offset: 10px;
$button-height: 50px;
$button-min-width: 150px;

$icon-button-offset: 10px;
$icon-button-size: 50px;

// animated bar
$animated-bar-height: 25px;
$animated-bar-offset: 15px;

// text inputs
$input-padding--text: 5px;

// media query variables
$screen-size--xs: 576px;
$screen-size--sm: 768px;
$screen-size--md: 992px;
$screen-size--lg: 1200px;

// component sizes
$scroller-sz: 65px;
